<div class="o-container o-container--xsmall u-text">
  <div data-class="{'u-display-none': state !== 'editing'}">
    <!-- <span class="u-text--loud" data-l10n-id="please-enable-cookies"></span>
         <p>
         <a href="/help/ap_cookie_error_help" data-l10n-id="how-to-enable-cookies"></a>
         </p> -->
    <form name="register" data-on-submit="submit-form" novalidate>
      <a class="c-link" href="/">
        <img class="o-image u-pillar-box-super" src="/static/@ruteni/site/v1/logo.svg" alt="logo">
      </a>
      <input type="hidden" name="appActionToken" value="Dlcy1HjVcD6lj2Fy3vd2Uj2FhzE64ZMj3D">
      <input type="hidden" name="appAction" value="REGISTER">
      <input type="hidden" name="openid.return_to" value="/somewhere">
      <h1 class="c-heading u-large" data-l10n-id="create-account"></h1>
      <div class="o-form-element">
        <label class="c-label" for="displayName" data-l10n-id="your-name"></label>
        <input class="c-field" type="text" minlength="1" maxlength="50" autocomplete="off" id="displayName" name="displayName" required>
        <div class="u-display-none" aria-live="assertive" role="alert" data-l10n-id="enter-your-name"></div>
        <div class="c-hint c-hint--static" role="tooltip">
          <div data-l10n-id="empty-display-name" data-class="{'u-display-none': issues['invalid-display-name'] !== 'empty'}"></div>
          <div data-l10n-id="overflow-display-name" data-class="{'u-display-none': issues['invalid-display-name'] !== 'overflow'}"></div>
        </div>
      </div>
      <div class="o-form-element">
        <label class="c-label" for="email" data-l10n-id="email"></label>
        <input class="c-field" type="email" maxlength="64" id="email" name="email" required>
        <div class="u-display-none" aria-live="assertive" role="alert" data-l10n-id="enter-valid-email"></div>
        <div class="c-hint c-hint--static" role="tooltip">
          <div data-l10n-id="empty-email" data-class="{'u-display-none': issues['invalid-email'] !== 'empty'}"></div>
          <div data-l10n-id="incomplete-email" data-class="{'u-display-none': issues['invalid-email'] !== 'incomplete'}"></div>
          <div data-l10n-id="misconfigured-domain-email" data-class="{'u-display-none': issues['invalid-email'] !== 'misconfigured-domain'}"></div>
          <div data-l10n-id="overflow-email" data-class="{'u-display-none': issues['invalid-email'] !== 'overflow'}"></div>
          <div data-l10n-id="parse-error-email" data-class="{'u-display-none': issues['invalid-email'] !== 'parse-error'}"></div>
          <div data-l10n-id="unknown-domain-email" data-class="{'u-display-none': issues['invalid-email'] !== 'unknown-domain'}"></div>
        </div>
      </div>
      <div class="o-form-element">
        <label class="c-label" for="password" data-l10n-id="password"></label>
        <input class="c-field" type="password" minlength="8" maxlength="1024" autocomplete="off" data-l10n-id="at-least-eight-characters" id="password" name="password" required>
        <div class="u-display-none" aria-live="assertive" role="alert" data-l10n-id="password-eight-characters"></div>
        <div class="c-hint c-hint--static" role="tooltip">
          <div data-l10n-id="empty-password" data-class="{'u-display-none': issues['invalid-password'] !== 'empty'}"></div>
          <div data-l10n-id="overflow-password" data-class="{'u-display-none': issues['invalid-password'] !== 'overflow'}"></div>
          <div data-l10n-id="weak-password" data-class="{'u-display-none': issues['invalid-password'] !== 'weak'}"></div>
        </div>
      </div>
      <div class="o-form-element">
        <label class="c-label" for="passwordCheck" data-l10n-id="reenter-password"></label>
        <input class="c-field" type="password" minlength="8" maxlength="1024" autocomplete="off" id="passwordCheck" id="passwordCheck" name="passwordCheck" required>
        <div class="u-display-none" aria-live="assertive" role="alert" data-l10n-id="password-must-match"></div>
        <div class="c-hint c-hint--static" role="tooltip">
          <div data-l10n-id="password-mismatch" data-class="{'u-display-none': !issues['password-mismatch']}"></div>
        </div>
      </div>
      <div>
        <div class="c-hint c-hint--static" role="tooltip">
          <div data-l10n-id="empty-locale" data-class="{'u-display-none': issues['invalid-locale'] !== 'empty'}"></div>
          <div data-l10n-id="unknown-locale" data-class="{'u-display-none': issues['invalid-locale'] !== 'unknown'}"></div>
          <div data-l10n-id="server-timeout" data-class="{'u-display-none': !issues['server-timeout']}"></div>
        </div>
      </div>
      <div class="o-form-element">
        <input class="c-button c-button--block" type="submit" data-l10n-id="create-your-account">
      </div>
      <div class="u-small">
        <span data-l10n-id="already-have-an-account"></span>
        <a href="/ap/signin?openid.return_to=%2Fregistration%2Fap-signin-handler&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0" data-l10n-id="signin"></a>
      </div>
    </form>
  </div>
  <div data-class="{'u-display-none': state !== 'delivered'}">
    <h2 class="c-heading u-medium" data-l10n-id="delivered"></h2>
    <p data-l10n-id="check-your-mailbox" data-l10n-deps="minutes"></p>
    <form name="verify" data-on-submit="verify-code" novalidate>
      <div>
        <label for="displayCode" data-l10n-id="enter-code"></label>
        <input class="verification-code" type="text" minlength="6" maxlength="6" autocomplete="off" id="verificationCode" code="verificationCode" required>
        <div class="u-display-none" aria-live="assertive" role="alert" data-l10n-id="enter-code"></div>
        <div class="c-hint c-hint--static" role="tooltip">
          <div data-l10n-id="wrong-code-length" data-class="{'u-display-none': false}"></div>
          <div data-l10n-id="wrong-code-value"  data-l10n-deps="remaining" data-class="{'u-display-none': remaining}"></div>
          <div data-l10n-id="server-timeout" data-class="{'u-display-none': !issues['server-timeout']}"></div>
        </div>
      </div>
      <input class="c-button c-button--block" type="submit" data-l10n-id="verify-email">
    </form>
  </div>
  <div data-class="{'u-display-none': state !== 'delivery-failed'}">
    <h4 class="c-heading u-medium" data-l10n-id="delivery-failed"></h4>
    <button class="c-button c-button--block" data-l10n-id="back-home" data-on-click="back-home"></button>
  </div>
  <div data-class="{'u-display-none': state !== 'confirmed'}">
    <h4 class="c-heading u-medium" data-l10n-id="email-confirmed"></h4>
  </div>
  <div data-class="{'u-display-none': state !== 'code-expired'}">
    <h4 class="c-heading u-medium" data-l10n-id="code-expired"></h4>
    <button class="c-button c-button--block" data-l10n-id="back-home" data-on-click="back-home"></button>
  </div>
  <div data-class="{'u-display-none': state !== 'too-many-attempts'}">
    <h4 class="c-heading u-medium" data-l10n-id="too-many-attempts"></h4>
    <button class="c-button c-button--block" data-l10n-id="back-home" data-on-click="back-home"></button>
  </div>
</div>
