<a class="c-link" href="/">
  <img src="/images/logo.png" alt="logo">
</a>
<div>
  <div>
    <h4 class="c-heading" data-i18n="auth:please-enable-cookies"></h4>
    <p>
      <a href="/help/ap_cookie_error_help" data-i18n="auth:how-to-enable-cookies"></a>
    </p>
    <form name="signin" data-on-submit="submit-form" novalidate>
      <h1 class="c-heading" data-i18n="auth:signin"></h1>
      <div class="o-form-element">
        <label for="email" data-i18n="auth:email"></label>
        <input class="c-field" type="email" maxlength="64" id="email" name="email" required>
        <div aria-live="assertive" role="alert" data-i18n="auth:enter-valid-email"></div>
      <div class="o-form-element">
        <label for="password" data-i18n="auth:password"></label>
        <input class="c-field" type="password" minlength="8" maxlength="1024" autocomplete="off" data-i18n="[placeholder]auth:at-least-eight-characters" id="password" name="password" required>
        <div aria-live="assertive" role="alert" data-i18n="auth:enter-valid-password"></div>
      <input class="c-button c-button--info" type="submit" data-i18n="[value]auth:signin">
      <div>
        <span data-i18n="auth:do-not-have-an-account"></span>
        <a href="/ap/register?openid.return_to=%2Fregistration%2Fap-signin-handler&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0" data-i18n="auth:register"></a>
      </div>
    </form>
  </div>
</div>
