Subject: Registration to {{site_name}}
From: {{from}}
To: {{to}}
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: quoted-printable
MIME-Version: 1.0

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <style>
   :root {
       --screen-limit-xsmall: 20em;
       --screen-limit-small: 30em;
       --screen-limit-medium: 48em;
       --screen-limit-large: 64em;
       --screen-limit-xlarge: 78em;
       --screen-limit-super: 116em;
       --spacing-super: 3em;
       --spacing-xlarge: 2em;
       --spacing-large: 1.5em;
       --spacing-medium: 1em;
       --spacing-small: 0.5em;
       --spacing-xsmall: 0.25em;
       --spacing-tiny: 0.125em;
       --grid-gutter: 1em;
       --color-default: #74748c;
       --color-quiet: #a6a6bf;
       --color-text: #000;
       --color-dark: #eee;
       --color-background: #f9f9f9;
       --color-light: #fdfdfd;
       --color-link: #4267ff;
       --color-outline: #4267ff;
       --color-brand: #2c3e50;
       --color-info: #4267ff;
       --color-warning: orange;
       --color-success: #088a05;
       --color-error: #ee0202;
       --color-highlight: #ffef14;
       --color-disabled: var(--color-default);
       --color-disabled-background: #f2f2f4;
       --color-transparent: transparent;
       --border-width: 1px;
       --border-style: solid;
       --border-color: var(--color-default);
       --border-radius: 4px;
       --border-radius-rounded: 30em;
       --box-shadow: 0 0 1px rgba(#000,0.6);
       --box-shadow-high: 0 5px 10px -3px rgba(0,0,0,0.4);
       --box-shadow-higher: 0 10px 25px -4px rgba(0,0,0,0.4);
       --box-shadow-highest: 0 20px 55px -8px rgba(0,0,0,0.4);
       --border-color-focus: var(--color-outline);
       --box-shadow-focus: inset 0 0 0 1px var(--color-outline);
       --disabled-opacity: 0.5;
       --z-over-content: 100;
       --z-over-control: 200;
       --z-over-page: 300;
       --z-over-screen: 400;
       --z-over-everything: 500;
       --text-font-family-serif: serif;
       --text-font-family-mono: monospace;
       --text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
       --text-font-size-super: 2em;
       --text-font-size-xlarge: 1.5em;
       --text-font-size-large: 1.25em;
       --text-font-size-medium: 1em;
       --text-font-size-small: 0.8em;
       --text-font-size-xsmall: 0.67em;
       --text-font-weight: normal;
       --text-font-weight-heavy: bold;
       --text-line-height: 1.55;
       --text-font-family-sans-serif: avenir,sans-serif;
       font-family: var(--text-font-family);
       /*line-height: var(--text-line-height);*/
       line-height: 1.15;
       unicode-bidi: isolate;
       -webkit-locale: "en";
       box-sizing: border-box;
       visibility: inherit;
       direction: ltr;
       text-align: left;
       color: #2c3e50;
       font-weight: 300;
   }
   section {
       margin: auto;
       max-width: 30em;
       padding: var(--spacing-super)!important;
       border-radius: var(--border-radius);
       box-shadow: var(--box-shadow-high);
   }
   p.greeting {
       margin: 0;
       padding: var(--spacing-medium) 0 var(--spacing-small);
       font-weight: var(--text-font-weight-heavy);
       font-size: var(--text-font-size-medium);
       color: var(--color-info);
   }
   p.center {
       text-align:center;
   }
   p.quiet {
       color: var(--color-quiet)!important;
   }
   a {
       color: var(--color-link);
       background-color: transparent;
       text-decoration: none;
       cursor: pointer;
       opacity: .9;
   }
   a.button {
       direction: ltr;
       visibility: inherit;
       box-sizing: inherit;
       --button-color: #fff;
       --button-background-color: var(--color-info);
       color: var(--button-color);
       background-color: var(--button-background-color);
       border: 1px solid transparent;
       display: inline-block;
       max-width: 100%;
       margin: 0;
       padding: var(--spacing-small);
       overflow: hidden;
       font-family: inherit;
       line-height: normal;
       white-space: nowrap;
       text-align: center;
       text-decoration: none;
       text-overflow: ellipsis;
       vertical-align: middle;
       border-radius: var(--border-radius);
       outline: 0;
       -webkit-appearance: none;
       user-select: none;
       font-size: var(--text-font-size-large);
   }
  </style>
  <body>
    <section>
    <p class="greeting">
      Hi {{given_name}},
    </p>
    <p>
      Thank you for registering at {{site_name}}. Your account is created and must be activated before you can use it.<br>
      Simply click on the link below to confirm your account:
    </p>

    <p class="center">
      <a class="button">{{verification_code}}</a>
    </p>
    <p class="quiet">
      This message was sent to {{email}}. If you got this email by mistake, you may report it by clicking <a href="{{abuse_url}}">here</a> or by forwarding this message to {{report_address}}.
    </p>
  </body>
</html>
