Subject: Inscription à {{site_name}}
From: {{from}}
To: {{to}}
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: quoted-printable
MIME-Version: 1.0

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body text="#000000" bgcolor="#FFFFFF">
    <p>
      Bonjour {{display_name}}. Vous vous êtes inscrit sur le site {{site_name}}. Pour valider votre inscription, vous devez confirmer votre courriel en cliquant sur le lien suivant : <a href="{{verification_code}}">{{verification_code}}</a>. Si le lien ne s'ouvre pas automatiquement dans un navigateur, vous pouvez le copier/coller manuellement dans la barre d'URL d'un navigateur.
    </p>
    <p>
      Si vous n'êtes pas à l'origine de cette demande, il vous suffit d'ignorer ce message. Vous pouvez également nous rapporter cette erreur <a href="{{abuse_url}}">ici</a>.
    </p>
    <p>
      Ce message a été envoyé à l'adresse {{email}}.
  </body>
</html>
